<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>GestionStock</display-name>	
	
	<servlet>
		<servlet-name>ControleBonEntree</servlet-name>
		<servlet-class>controleur.ControleBonEntree</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ControleBonEntree</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ControleBonEntree</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	
	
	<servlet-mapping>
		<servlet-name>ControleBonEntree</servlet-name>
		<url-pattern>/ListeBe</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ControleBonSortie</servlet-name>
		<servlet-class>controleur.ControleBonSortie</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ControleBonSortie</servlet-name>
		<url-pattern>/ListeBs</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ControleLigneBe</servlet-name>
		<servlet-class>controleur.ControleLigneBe</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>ControleLigneBe</servlet-name>
		<url-pattern>/ListeLigneBe</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ControleLigneBs</servlet-name>
		<servlet-class>controleur.ControleLigneBs</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>ControleLigneBs</servlet-name>
		<url-pattern>/ListeLigneBs</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ControleProduit</servlet-name>
		<servlet-class>controleur.ControleProduit</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ControleProduit</servlet-name>
		<url-pattern>/ListeProduit</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ControleProduit</servlet-name>
		<url-pattern>/Stock</url-pattern>
	</servlet-mapping>
	

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/style/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/media/*</url-pattern>
	</servlet-mapping>
</web-app>